{% extends "base.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}

<div class="index">
    <div class="index-content">
        <img src="{{ asset("/build/images/lwr-accueil.png") }}" class="logolwr" alt="Logo LWR">
        <hr>
        <p class="descriptif">Luxury Watch Rental vous offre la possibilité de louer des montres de prestige
            parmi les plus grandes marques horlogères tel que Breitling, Rolex, <br> Jaeger LeCoultre et bien d'autres.
            Vous souhaitez valoriser votre entreprise ou tout simplement porter un modèle d'exception durant un
            événement important,
            Nous vous offrons un service de location sur-mesure selon votre besoin.
        </p>
        <a href="{{ path('all_watches') }}" class="btn btn-warning">Louer Maintenant</a>
    </div>
</div>
{% endblock %}