{% extends "base.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}

<div class="index">    
    <div class="index-content">
        <img src="{{ asset("/build/images/lwr-accueil.png") }}" class="logolwr" alt="Logo LWR">
        <hr>
        <p class="descriptif">Luxury Watch Rental vous offre la possibilité de louer
            des marques de prestige tel que Rolex, Brietling et bien d'autres
            pour par exemple, 
            valoriser votre entreprise et vos salariés,
            lors un d'événement important comme un mariage,
            ou tout simplement pour le plaisir.</p>
        <a href="{{ path('all_watches') }}" class="btn btn-warning">Louer Maintenant</a>
    </div>
</div>
    
{% endblock %}