{% extends "base.html.twig" %}

{% block title %}Qui sommes-nous ? - {{ parent() }}{% endblock %}

{% block body %}

<div class="qsn container my-5">    
   <h1>Qui sommes-nous ?</h1>
   <p>Luxury Watch Rental est une enseigne proposant un service de location de montres de luxe. Nos clients ont la possibilité de louer plusieurs montres d’exception et ont à leur disposition une large collection réunissant les horlogers les plus connus du marché. 
 
    Acheter une montre de luxe n'est pas donné à tout le monde. Dans une société où la location est devenue chose courante, louer des objets de luxe est une nouvelle façon de se faire plaisir. Luxury Watch Rental vous propose de louer vos montres de luxe préférées et de les porter lors d'évènements comme un mariage, une soirée chic, un séminaire ou autre réunion d'affaire. 

    Plus qu'un service de location de montres, Luxury Watch Rental est une vraie immersion dans le monde de l'horlogerie de luxe.</p>
</div>
    
{% endblock %}