{% extends 'base.html.twig' %}

{% block title %}Nos montres - {{ parent() }}{% endblock %}

{% block body %}
<div class="watch-show">
    {% set picture = ( watch.pictures.0.name matches '/^http/' ) ? watch.pictures.0.name : asset( 'uploads/' ~ watch.pictures.0.name ) %}
    <img src="{{ picture }}" alt="" class="watch-show__picture" >

        <h1>{{ watch.brand }}</h1>
  
{% endblock %}