@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';



// CSS navbar 
.navbar{
    background-color: black;
    padding:1em;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 14px;

    .nav-item{
        margin: 5px;
    }

    // Bouton Dropdown "Catégories"
    div.dropdown-menu.show{
        background-color: black;
    }

    a.dropdown-item{
        background-color: rgba(247, 181, 0, 0.795);        
    }

    a.dropdown-item:hover{
        background-color: rgb(247, 181, 0);       
    }


    .dropdown-menu{
        font-size: 12pt;
    }

    img{
        height: 4.5vh;
        width: auto;
        margin-left: 1em;
    } 
}

// CSS footer
footer{
    background-color: black;
    display: block;
    text-align: center;

    .pictofooter{
        height: 15vh;
        margin-top: 1em;
    }
    ul{
        margin: auto;        
    }
    .nav-link{
        font-family: 'Raleway';
        font-weight: 300;
        font-size: 10pt;
        color:rgb(80, 80, 80);        
    }

    .navbar-nav .nav-link {
        padding-top: 0.5em;
        padding-bottom: 0em;
    }

    .nav-item {
        margin-right: 0em;
    }

    #socials{
        display: flex;
        justify-content: center;
    }
    a{
        color:rgb(80, 80, 80);
    }

    a:hover{
        color: white ;
    }

    i{
        margin: 0.5em;
        font-size: 20pt;        
    }

    p{
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 10pt;
        margin-bottom: auto;
    }
}

// CSS button deconnexion
.btn-dark{
    background-color: black;
    padding:1em;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 14px;
}
// Gestion des titres
h1{
    font-family: 'Raleway';
    font-weight: 400;
}



// CSS Vous n'avez pas de compte ?
.register-you{
    margin-left: 1em;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;
    color: black;
}
