// "MON PANIER"
.title{
    margin-top: 2em;
}

// Récapitulatif de la commande
.recap{
    background-color: #eceeef;
}

// Bouton de suppression
#trashbox{
    margin-right: 0;
    width: fit-content;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

// "Choix de la livraison"
.deliverychoice{
    text-align: center;
    font-weight: 600;
    margin-top: 1em;
    margin: 0.5em;
}

.formvalidate{
    display: grid;
    font-size: 14pt;
}

// Btn Radio Delivery Company
#deliverycompanychoice{
    margin: auto;
    border-radius: 20px;
    background-color:  white;
    border: 1px solid #eceeef;
}

.total{
    font-size: 16pt;
}
// Btn "Validation"
#validate{
    width: fit-content;
    margin: auto;
    font-size: 12pt;
}