#contactForm{
    margin-right: 25%;
    margin-left: 25%;
    font-family: 'Raleway';
        h1{
        font-weight: 400;
        text-align: center;
        margin-top: 2em;
    }

        p{
            text-align: center;
            margin-top: 1em;
            margin-bottom: 2em;
        }
        button{
            margin-bottom: 3em;
        }
}