// Global + Background 
.index {
    display: flex;
    font-family: 'Raleway';
    background-image: url('../images/background-accueil.jpg');
    background-size: cover;
    position: relative;
    height: 90vh;
}

// vous êtes bien déconnecté
.alert.alert-dark.alert-dismissible.fade.show {
    margin-bottom: 0;
    background-color: rgba(104, 104, 104, 0.596);
    font-weight: 600;
}

// Contenu de la page
.index-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    //Logo
    img.logolwr {
        height: 35%
    }

    // Ligne de séparation
    hr {
        width: 80%;
        border: none;
        border-bottom: 0.1px inset white;
        margin: 2em;
    }

    // Texte Luxury Watch rental
    p {
        color: white;
        text-align: center;
        font-size: 10px;
        font-weight: 300;
        margin-left: 3em;
        margin-right: 3em;
        margin-bottom: 0em;
    }

    // Bouton "louer Maintenant"
    .btn-warning {
        background-color: rgba(247, 181, 0, 0.795);
        padding: 1em;
        font-family: 'Raleway';
        font-weight: 600;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-top: 2em;
        font-size: 10pt;
        color: black !important;
    }

    .btn-warning:hover {
        background-color: rgb(247, 181, 0);
    }

}

// Gestion du Responsive
@media only screen and (min-width: 600px) {
    .index-content {

        //Logo
        img.logolwr {
            height: 50%
        }

        // Texte Luxury Watch rental
        p {
            color: white;
            text-align: center;
            font-size: 13px;
            margin-left: 3em;
            margin-right: 3em;
            margin-bottom: 0em;
        }

        // Bouton "louer Maintenant"
        .btn-warning {
            font-size: 12pt;
        }
    }
}

@media only screen and (min-width: 991px) {
    .index-content {

        // Ligne de séparation
        hr {
            width: 85%;
            border: none;
            border-bottom: 0.1px inset white;
            margin: 2em;
        }

        // Texte Luxury Watch rental
        p {
            color: white;
            text-align: center;
            font-size: 16px;
            margin-left: 6em;
            margin-right: 6em;
            margin-bottom: 0em;
        }
    }
}