.register{
    display: flex;
    font-family: 'Raleway';

}

.col-lg-6{
    padding: 1em;
}

.row{
    justify-content: center;
}

.btn{
    border-radius: 2em;
}

/* .form-control{
    border-radius: 2em;
} */