.register{
    display: flex;
    font-family: 'Raleway';
    .row{
    justify-content: center;
    }
}

.col-lg-6{
    padding: 1em;
}

.required{
    font-weight: 400;
}

.btn{
    border-radius: 2em;
}

// CSS Vous n'avez pas de compte ?
.register-you{
    margin-left: 1em;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;
    color: black;
}