<h1>Activation de votre compte</p>
    <p>Merci d'avoir créé un compte sur LuxuryWatchRental. Veuillez cliquer sur le lien ci-dessous pour l'activer :</p>
    <p><a href="{{ absolute_url(path('activation', {'token': token})) }}">Activer mon compte</a></p>